# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/

# Evidence exports
evidence/
app/evidence/

# Local SQLite database
CS302_AdvancedEdition/database/sniffer.db

# IDE files (PyCharm)
.idea/
